<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /images/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*) http://theindependent.ca/images/$1 [L,P]

</IfModule>